[Unit]
Description=Eldiron Web Server
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/eldiron/bin
ExecStart=/usr/local/bin/eldiron/bin/eldiron-server
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target