[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
anyhow = { version = "1.0.71" }
eldiron_actions = { path = "crates/eldiron_actions" }
